<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home: My Journal</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<header>
    <nav>
        <div class="navigation">
            <a href="/"><h1>My journal</h1></a>
            <ul> 
                <a href="/login"><li>Login</li></a>
                <a href="/signup"><li>Signup</li></a>
            </ul>
        </div>
        
    </nav>
</header>