<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home: My Journal</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <%- include('./header.ejs') %>
    <div class="container">
        <h2>Bienvenido a tu diario</h2>
        <div class="card">
            <p>Ya puedes comenzar a llevar tu diario en linea!</p>
            <a href="/login"><button class="btn">Ingresa</button></a>
        </div>
    </div>
</body>
</html>